[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=SailGLog
Exec=SailGLog
Name=SailGLog
# translation example:
# your app name in German locale (de)
Name[de]=SailGLog

